.logo-nav{
    width: 90px;
}
.nav-link{
    text-align: 50px !important;
}
#navbarText{
    padding-left: 20%;
}
.Home{
    width: 100px;
    transition: 1s;
    display: flex;
}
.Home:hover {
    height: 50%;
    box-shadow: 20%;
}
.linea{
    height: 7px;
    background: rgb(248, 248, 248);
    margin-top: -6px;
    display: block;
    z-index: 1;
}
.linea:hover{
    height: 5px;
    background: rgb(255, 0, 0);
    margin-top: -6px;
    visibility: visible;
}
