.sl{
    background: black;
    height:500px
}
.sl-photo-portada{
background-image:url(../../image/portada.jpg);
width:70%;
height:30vw;
margin-left: 13vw;
border-radius: 0px 0px 10px 10px;
/* background-repeat: no-repeat; */

}
.avatar{
background-color: white;
display: block;
border-radius:50%

}
.avatar>img{
width:150px;

border-radius:50%;
}